name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main  # O la rama que uses como principal

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: w9jds/firebase-action@v12.0.0
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
